
body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 60px;
    margin-right: 0px;
}

.scrollable-content {
    flex: 1; 
    overflow: auto; 
    max-width: 100%;
}

.form-group {
    margin-bottom: 0rem !important;
}

.logo-and-title {
    display: flex;
}

.artist-img-container {
    position: relative;
    overflow: hidden;
}

.artist-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.artist-img-container:hover .artist-img-overlay {
    opacity: 1;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.add-to-lidarr-btn,
.get-preview-btn {
    margin: 2px 0px;
    z-index: 1;
    opacity: 0;
}

.artist-img-container:hover .add-to-lidarr-btn,
.artist-img-container:hover .get-preview-btn {
    transition: opacity 0.6s ease;
    opacity: 1;
}

.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

.led {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid;
    position: absolute;
    top: 4px;
    right: 4px;
}

.status-green .led {
    background-color: #28a745;
    border-color: #28a745; 
    background-color: var(--bs-success); 
    border-color: var(--bs-success); 
}

.status-red .led {
    background-color: #dc3545;
    border-color: #dc3545; 
    background-color: var(--bs-danger); 
    border-color: var(--bs-danger); 
}

.status-blue .led {
    background-color: #007bff; 
    border-color: #007bff; 
    background-color: var(--bs-primary); 
    border-color: var(--bs-primary); 
}

@media screen and (max-width: 600px) {
    h1{
        margin-bottom: 0rem!important;
    }
    .logo{
        height: 40px;
        width: 40px;
    }
    .container {
        width: 98%;
    }   
    .custom-spacing .form-group-modal {
        margin-bottom: 5px; 
    }
}
